# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.env

# Flutter/Dart
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
app.*.symbols
app.*.map.json

# Docker
docker-compose.override.yml
