# Python
__pycache__/
*.pyc
*.egg-info/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Storage (runtime data)
data/

# Celery Beat schedule file
celerybeat-schedule

# OS
.DS_Store
